<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
    <img src="images/wedding_main.jpg">
<!--    {%- include header2.html -%} -->
      <div class="wrapper" style="text-align: center">
        {{ content }}
      </div>

<!--    {%- include footer.html -%} -->
{%- if page.comments -%}
<div id="post-disqus" class="container" style="width:90%; margin:auto">
  {%- include disqus_comments.html -%}
</div>
{%- endif -%}

  </body>

</html>
