<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head2.html -%}

  <body style="background: #fdf3fd;">
    {%- include header2.html -%}

  <main class="page-content" aria-label="Content" style="padding:10px 0px 10px 0px;">
    <div class="wedding-content" itemprop="articleBody" style="width:90%;margin:auto;text-align:center;font-family: 'Jua', sans-serif;">
      {{ content }}
    </div>
    <div id="post-disqus" class="container" style="width:90%;margin:auto;font-family: 'Jua', sans-serif;">
      {%- include disqus_comments.html -%}
    </div>
  </main>


</article>
