<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head3.html -%}

  <body style="background: #f4eee1;">
    {%- include header2.html -%}

  <meta property="og:url" content="https://hhj6212.github.io/wedding_photo/" />
  <meta property="og:title" content="한헌종 ♥ 정다운의 결혼사진입니다.">
  <meta property="og:site_name" content="한헌종 ♥ 정다운의 결혼사진입니다.">
  <main class="page-content" aria-label="Content" style="padding:10px 0px 10px 0px;">
    <div class="wedding-content" itemprop="articleBody" style="width:90%;margin:auto;text-align:center;font-family: 'Noto Serif KR', serif;">
      {{ content }}
    </div>
  </main>


</article>
